/* text 드래그 방지 */
.undraggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 551px) {
    .serviceNameBox {
        width: 510px;
        height: 38px;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .back-icon {
        margin-right: 20px;
        width: 20px;
    }

    .pageNameBox {
        width: 510px;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
    }

    .pageNameBox .imgBlank {
        width: 20px;
    }

    .move {
        width: 500px;
        height: 60px;
    }

    .product-icon,
    .digging-icon,
    .home-icon,
    .community-icon,
    .mypage-icon {
        width: 25px;
        height: 25px;
    }

    .userInfoInput input {
        width: 493px;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 15px;
        border-radius: 20px;
        border: none;
        outline: 2px solid #F1F1F1;
        font-size: 20px;
    }

    .userInfoInput button {
        width: 510px;
        height: 50px;
        font-size: 20px;
        border-radius: 20px;
    }

    .userInfoCard {
        background-color: #f0f0f0;
        padding: 9px;
        margin-bottom: 40px;
        width: 500px;
        border-radius: 30px;
    }

    .userInfoCardNickname {
        font-weight: bold;
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) {
    .serviceNameBox {
        width: 410px;
        height: 25.5px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .back-icon {
        margin-right: 10px;
        width: 15px;
    }

    .pageNameBox {
        width: 410px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }

    .pageNameBox .imgBlank {
        width: 15px;
    }

    .move {
        width: 400px;
        height: 50px;
    }

    .product-icon,
    .digging-icon,
    .home-icon,
    .community-icon,
    .mypage-icon {
        width: 20px;
        height: 20px;
    }

    .userInfoInput input {
        width: 393px;
        height: 40px;
        margin-bottom: 10px;
        padding-left: 15px;
        border-radius: 17px;
        border: none;
        outline: 2px solid #F1F1F1;
        font-size: 15px;
    }

    .userInfoInput button {
        width: 410px;
        height: 40px;
        font-size: 15px;
        border-radius: 17px;
    }

    .userInfoCard {
        background-color: #f0f0f0;
        padding: 9px;
        margin-bottom: 20px;
        width: 400px;
        border-radius: 25px;
    }

    .userInfoCardNickname {
        font-weight: bold;
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .serviceNameBox {
        width: 310px;
    }

    .pageNameBox {
        width: 310px;
    }

    .move {
        width: 300px;
    }

    .userInfoInput input {
        width: 293px;
    }

    .userInfoInput button {
        width: 310px;

    }

    .userInfoCard {
        width: 300px;
    }
}

.backgroundWithMoveBar {
    padding: 20px 20px 60px 20px;
}

.move {
    padding: 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 20px;
    border-radius: 50px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 14px 56px rgba(0, 0, 0, 0.15);
}

.userInfoInput button {
    font-weight: bold;
    color: #808080;
    border: none;
}

.centerXWrapper {
    display: flex;
    justify-content: center;
}

.move:hover {
    box-shadow: 0px 14px 56px rgba(0, 0, 0, 0.3);
}

move img {
    cursor: pointer;
}

.move img:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.userInfoInput input:hover {
    outline: 2px solid #DBDBDB;
}

.userInfoInput input::placeholder {
    font-weight: bold;
    color: #808080;
}

.userInfoInput button:active,
.userInfoInput button:hover,
.userInfoInput button:focus {
    background: #DBDBDB;
}

.userInfoCard p {
    margin-left: 15px;
}